<template>
  <div class="bottom-bar">
    <div class="loading-bar">
      <div
        class="loading-bar-inner"
        :style="{ width: `${(currentOrderIndex / totalOrders) * 100}%` }"
      ></div>
    </div>
    <div class="container">
      <button
        class="bottom-bar-button"
        @click="$emit('previous')"
        :disabled="disabled"
      >
        <i class="material-icons back-icon">arrow_back</i>
        <div class="bottom-bar-nav-text">Previous</div></button
      ><button class="button" @click="$emit('process')" :disabled="disabled">
        Create label
        <i class="material-icons enter-icon">keyboard_return</i></button
      ><button
        class="bottom-bar-button"
        @click="$emit('next')"
        :disabled="disabled"
      >
        <div class="bottom-bar-nav-text">Next</div>
        <i class="material-icons next-icon">arrow_forward</i>
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "BottomBar",
  props: {
    disabled: Boolean,
    currentOrderIndex: Number,
    totalOrders: Number,
  },
};
</script>
<style scoped>
.bottom-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 12px 8px;
  background: rgb(255, 255, 255);
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.08),
    0px -4px 68px 0px rgba(0, 0, 0, 0.02);
}
.loading-bar {
  display: none;
}
.container {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 950px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.loading-bar-inner {
  display: flex;
  transition: width 0.85s;
  transition-delay: 0.5s;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.bottom-bar-button {
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-left: 4px;
  padding: 8px;
  border: 1px solid var(--sendcloud-dark-blue);
  border-radius: 5px;
  transition: background 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
  font-weight: 500;
  color: var(--sendcloud-dark-blue);
}
.button {
  flex: 1 0;
  margin-right: 8px;
  margin-left: 8px;
  padding: 8px 16px;
  background: var(--sendcloud-dark-blue);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
  transition: background 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
  font-weight: 500;
  color: white;
}
.button:focus {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.back-icon {
  font-size: 1rem;
}
.bottom-bar-nav-text {
  display: none;
  margin-right: 2px;
  margin-left: 2px;
}
.enter-icon {
  display: none;
  font-size: 1rem;
}
.next-icon {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
}
@media screen and (min-width: 992px) {
  .bottom-bar {
    padding: 16px;
  }
  .loading-bar {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 7px;
    top: -7px;
    background: var(--sendcloud-lines);
  }
  .container {
    max-width: 1750px;
    padding: 0px 48px;
  }
  .loading-bar-inner {
    width: 32%;
    height: 100%;
    background: var(--sendcloud-blue);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .bottom-bar-button {
    position: relative;
    justify-content: center;
    min-width: 170px;
    padding-right: 12px;
    padding-left: 12px;
  }
  .button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
  }
  .back-icon {
    position: absolute;
    left: 8px;
    padding: 4px;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    color: #7588ae;
  }
  .bottom-bar-nav-text {
    display: block;
  }
  .enter-icon {
    position: absolute;
    display: block;
    right: 8px;
    padding: 4px;
    background: rgb(43, 64, 106);
    border-radius: 5px;
    color: #d0daef;
  }
  .next-icon {
    position: absolute;
    right: 8px;
    padding: 4px;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    color: rgb(117, 136, 174);
  }
}
</style>
