<template>
  <div
    class="column-resizer-grip"
    draggable="true"
    @dragstart.stop="start"
    @drag.stop="resize"
    @dragend.stop="end"
    @touchstart.stop="start"
    @touchmove.stop="resize"
    @touchend.stop="end"
  />
</template>

<script>
export default {
  props: {
    width: Number,
  },
  data() {
    return {
      startPos: 0,
      startWidth: 40,
    };
  },
  methods: {
    start(e) {
      this.startPos = e.screenX;
      this.startWidth = this.width;
    },
    resize(e) {
      let diff = (this.startPos - e.screenX) / 10;

      let newWidth = this.startWidth - diff;

      let snapRange = [
        [32, 33, 34],
        [49, 50, 51],
        [65, 66, 67],
        [95, 100, Infinity],
      ].find((range) => newWidth > range[0] && newWidth < range[2]);

      if (snapRange) newWidth = snapRange[1];

      this.$emit("resize", newWidth);
    },
    end() {
      this.startPos = 0;
    },
  },
};
</script>

<style scoped>
.column-resizer-grip {
  display: none;
}
@media screen and (min-width: 992px) {
  .column-resizer-grip {
    display: block;
    align-self: center;
    width: 5px;
    height: 75px;
    margin-right: 16px;
    margin-left: 16px;
    background: var(--sendcloud-lines);
    border-radius: 7px;
    cursor: ew-resize;
    flex-shrink: 0;
  }
}
</style>
