<template>
  <div class="customer-details">
    <div class="columns-with-background">
      <div class="column">
        <div class="small-text">Customer name / Company Name</div>
        <div class="text-17">{{ order.name }}</div>
      </div>
    </div>
    <div class="columns-no-background">
      <div class="column">
        <div class="small-text">Destination address</div>
        <div class="text-17">{{ order.street }}</div>
        <div class="text-17">{{ order.zipCode }} {{ order.city }}</div>
        <div class="text-17">{{ order.country }}</div>
      </div>
    </div>
    <div class="columns-with-background">
      <div class="column">
        <div class="small-text">Email address</div>
        <div class="text-17">{{ order.email }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: Object,
  },
};
</script>

<style>
.customer-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
}
.columns-with-background {
  display: flex;
  align-items: stretch;
  width: 100%;
  background: var(--sendcloud-medium-bg);
}
.columns-no-background {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.column {
  flex: 1 0;
  padding: 8px;
}
.small-text {
  font-size: 14px;
  color: var(--sendcloud-text-mute);
}
@media screen and (min-width: 992px) {
  .customer-details {
    padding: 0px;
  }
}
</style>
