<template>
  <nav class="navbar">
    <div class="navbar-columns">
      <div class="navbar-logo-column-mobile">
        <img
          class="navbar-logo-mobile"
          src="~@/assets/images/SC-Watermark.svg"
        /><img
          class="navbar-logo"
          src="~@/assets/images/Sendcloud-Logo-Full.svg"
        />
        <div class="nav-menu">
          <a class="nav-link" href="#">Shipping</a
          ><a class="nav-link-2" href="#">Pack & Go</a
          ><a class="nav-link" href="#">Returns</a>
        </div>
      </div>
      <div class="navbar-column-right">
        <button class="navbar-mobile-menu-button">
          <i class="material-icons icon">menu</i>
        </button>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "Navbar",
  components: {},
};
</script>
<style scoped>
.navbar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  top: 0px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.08);
  color: #00213d;
}
.navbar-columns {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.navbar-logo-column-mobile {
  display: flex;
  flex: 1 0;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.navbar-column-right {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  align-items: center;
}
.navbar-logo-mobile {
  width: 30px;
  height: 30px;
}
.navbar-logo {
  display: none;
}
.nav-menu {
  display: none;
}
.navbar-mobile-menu-button {
  padding: 8px;
  background: var(--sendcloud-blue);
  border: none;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  color: #ffffff;
}
.navbar-mobile-menu-button:hover {
  border: none;
}
@media screen and (min-width: 768px) {
  .navbar-columns {
    align-items: center;
  }
  .navbar-column-right {
    flex: 0 0 auto;
  }
  .navbar-logo-mobile {
    display: none;
  }
  .navbar-logo {
    display: block;
    width: 200px;
    height: 44px;
  }
  .nav-menu {
    display: none;
    margin-left: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .navbar-mobile-menu-button {
    padding: 16px;
  }
  .nav-link {
    padding: 16px;
  }
  .nav-link-2 {
    padding: 16px;
  }
  .icon {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  .navbar-column-right {
    padding: 0px;
  }
  .nav-menu {
    display: flex;
  }
  .nav-link-2 {
    margin-bottom: -8px;
    border-bottom: 4px solid var(--sendcloud-blue);
  }
}
</style>
