<template>
  <div class="order-status">
    <div class="columns-with-background">
      <div class="column">
        <div class="small-text">Integration</div>
        <div class="text-17">{{ order.integration }}</div>
      </div>
      <div class="column">
        <div class="small-text">Order date</div>
        <div class="text-17">{{ date }}</div>
      </div>
    </div>
    <div class="columns-no-background">
      <div class="column">
        <div class="small-text">Shop</div>
        <div class="text-17">Nick's API</div>
      </div>
      <div class="column">
        <div class="small-text">Checkout method</div>
        <div class="text-17">–</div>
      </div>
    </div>
    <div class="columns-with-background">
      <div class="column">
        <div class="small-text">Shop status</div>
        <div class="text-17">{{ order.status }}</div>
      </div>
      <div class="column">
        <div class="small-text">Payment status</div>
        <div class="text-17">{{ order.paymentStatus }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: Object,
  },
  computed: {
    date() {
      return new Intl.DateTimeFormat("en-GB", {
        dateStyle: "full",
        timeStyle: "short",
      }).format(this.order.date);
    },
  },
};
</script>

<style>
.order-status {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
  padding: 0px;
  border-radius: 7px;
  overflow: hidden;
}
.columns-with-background {
  display: flex;
  align-items: stretch;
  width: 100%;
  background: var(--sendcloud-medium-bg);
}
.columns-no-background {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.column {
  flex: 1 0;
  padding: 8px;
}
.small-text {
  font-size: 14px;
  color: var(--sendcloud-text-mute);
}
</style>
