<template>
  <div class="items">
    <div class="items-row">
      <div class="items-row-text-column"><div class="text-12">Item</div></div>
      <div class="items-row-sku-column"><div class="text-12">SKU</div></div>
      <div class="items-row-quantity-column">
        <div class="text-12">Quantity</div>
      </div>
    </div>
    <template v-if="!loading">
      <div
        class="items-row"
        v-for="item in order.items"
        :key="item.sku"
        :class="{ 'items-row--checked': checkedItems.includes(item.sku) }"
      >
        <div class="items-row-text-column">
          <div class="order-item-image__wrap">
            <img class="order-item-image" :src="item.image" />
            <div
              class="order-item-image__overlay"
              v-if="checkedItems.includes(item.sku)"
            >
              <i class="material-icons">done</i>
            </div>
          </div>
          <div class="text-3">{{ item.name }}</div>
        </div>
        <div class="items-row-sku-column">
          <div class="text-6">{{ item.sku }}</div>
        </div>
        <div class="items-row-quantity-column">
          <div class="text-7">{{ item.quantity }}</div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="items-row" v-for="item in order.items" :key="item.sku">
        <div class="items-row-text-column">
          <div class="loading-skeleton loading-skeleton--image"></div>
          <div class="loading-skeleton" style="width: 75%"></div>
        </div>
        <div class="items-row-sku-column">
          <div class="loading-skeleton" style="width: 60px;"></div>
        </div>
        <div class="items-row-quantity-column">
          <div class="loading-skeleton" style="width: 30px"></div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    loading: Boolean,
    order: Object,
    checkedItems: Array,
  },
};
</script>

<style>
.items {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: 155px;
}
.items-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.items-row--checked .text-3,
.items-row--checked .text-6,
.items-row--checked .text-7 {
  opacity: 0.5;
}
.order-item-image__wrap {
  position: relative;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 8px;
}
.order-item-image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.order-item-image__overlay i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: rgb(3, 166, 120);
  font-size: 1.25rem;
}
.items-row-text-column {
  display: flex;
  align-items: center;
  width: 55%;
  padding: 8px;
}
.items-row-sku-column {
  display: flex;
  align-items: center;
  padding: 8px;
}
.items-row-quantity-column {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
}
.text-12 {
  font-size: 0.9rem;
  color: var(--sendcloud-text-mute);
  text-transform: uppercase;
}
.order-item-image {
  object-fit: fill;
  width: 36px;
  height: 36px;
}
.text-3 {
  font-weight: 500;
}
.text-6 {
  font-weight: 500;
  color: var(--sendcloud-text-mute);
}
.text-7 {
  font-weight: 500;
  color: var(--sendcloud-text-mute);
}

@media screen and (min-width: 992px) {
  .items-row-text-column {
    padding: 8px 16px;
  }
  .order-item-image {
    width: 48px;
    height: 48px;
  }
}
</style>
