<template>
  <div class="shipping-rules">
    <div class="columns-with-background">
      <div class="column">
        <div class="small-text">Rule</div>
        <div class="text-17">Dropoff Odd shapes</div>
      </div>
      <div class="column">
        <div class="small-text">Shipping method</div>
        <div class="text-17">DHL For You Dropoff</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: Object,
  },
};
</script>

<style>
.shipping-rules {
  display: flex;
  width: 100%;
  margin: 16px;
  padding: 0px;
}
.columns-with-background {
  display: flex;
  align-items: stretch;
  width: 100%;
  background: var(--sendcloud-medium-bg);
}
.column {
  flex: 1 0;
  padding: 8px;
}
.small-text {
  font-size: 14px;
  color: var(--sendcloud-text-mute);
}
</style>
