<template>
  <div class="shipping-details">
    <div class="input">
      <label class="label" for="Label Input">Shipping method</label
      ><select class="input-field">
        <option>DHL Express</option>
        <option>DHL For You Service Points</option>
        <option>PostNL Global</option>
        <option>DPD'tje</option>
      </select>
    </div>
    <div class="columns-2">
      <div class="column">
        <div class="input">
          <label class="label" for="Label Input">Weight</label
          ><input
            class="input-field"
            type="text"
            placeholder="1kg"
            value="1kg"
          />
        </div>
      </div>
      <div class="column">
        <div class="input">
          <label class="label" for="Label Input">Nr. of parcels</label
          ><input class="input-field" type="text" value="1" placeholder="1" />
        </div>
      </div>
      <div class="column">
        <div class="input">
          <label class="label" for="Label Input">Insurance</label
          ><input
            class="input-field"
            type="text"
            value="€100"
            placeholder="€100"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: Object,
  },
};
</script>

<style>
.shipping-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
}
.columns-2 {
  display: flex;
  align-items: stretch;
  margin-right: -8px;
  margin-left: -8px;
}
.label {
  display: inline-block;
  margin: 0px 0px 4px;
  font-weight: 500;
  color: var(--sendcloud-dark-blue);
}
.input-field {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--sendcloud-dark-blue);
  border-radius: 6px;
  font-size: 1em;
}
.input-field:focus {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.column {
  flex: 1 0;
  padding: 8px;
}
</style>
