<template>
  <div class="pandg-status__wrap">
    <transition name="status" mode="out-in">
      <div class="pandg-status" v-if="state === 'loading'" key="loading">
        <i
          class="material-icons pandg-status__icon"
          :class="`pandg-status__loading`"
          >loop</i
        >
        <div class="text">
          Loading...
        </div>
      </div>

      <div
        class="pandg-status"
        v-else-if="state === 'processing'"
        key="processing"
      >
        <i class="material-icons pandg-status__icon pandg-status__processing"
          >loop</i
        >
        <div class="text">
          Processing...
        </div>
      </div>

      <div class="pandg-status" v-else-if="state === 'printing'" key="printing">
        <i class="material-icons pandg-status__icon pandg-status__printing"
          >loop</i
        >
        <div class="text">
          Printing...
        </div>
      </div>

      <div class="pandg-status" v-else key="ready">
        <i class="material-icons pandg-status__icon pandg-status__ready"
          >done</i
        >
        <div class="text">
          Ready
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    state: String,
  },
};
</script>

<style scoped>
.pandg-status__wrap {
  position: relative;
  height: 20px;
}

.pandg-status {
  display: flex;
  margin-left: 8px;
}
.pandg-status__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 44px;
  font-size: 14px;
}

.pandg-status__ready {
  background: rgb(3, 166, 120);
  color: #ffffff;
}

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

.pandg-status__loading,
.pandg-status__processing,
.pandg-status__printing {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.75s;
  animation-timing-function: linear;
  font-size: 18px;
}

.text {
  margin-left: 4px;
  font-size: 0.8rem;
}
@media screen and (min-width: 992px) {
  .pandg-status__wrap {
    min-height: 25px;
  }

  .pandg-status {
    align-items: center;
    margin-left: 16px;
  }
  .text {
    margin-left: 8px;
    font-size: 1rem;
  }
}

.status-enter-active,
.status-leave-active {
  transition: opacity 0.25s;
  position: absolute;
}

.status-enter,
.status-leave-to {
  opacity: 0;
}
</style>
