<template>
  <div class="avatar__wrap">
    <div
      class="avatar"
      :class="{ 'avatar__has-award': showAward && currentAward }"
    >
      <transition name="fade" mode="out-in">
        <div class="avatar__award" v-if="showAward && currentAward">
          {{ currentAward.emoji }}
        </div>
        <div class="text-15" v-else>N</div>
      </transition>
    </div>
    <div class="text-16">Nick</div>
    <transition name="fade" mode="out-in">
      <div class="award__popover" v-if="showAward">
        {{ currentAward.message }}
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    ordersRemaining: Number,
    progress: Number,
  },
  data() {
    return {
      showAward: false,
      awards: [
        {
          progress: 25,
          progressEnd: 49,
          emoji: "👍",
          message: "You're well on your way Nick, keep it up!",
        },
        {
          progress: 50,
          progressEnd: 74,
          emoji: "👍",
          message: "You're halfway there, Nick!",
        },
        {
          progress: 75,
          progressEnd: 89,
          emoji: "🏆",
          message: "Nick, you've set a new speed record. Great!",
        },
        {
          progress: 90,
          progressEnd: 100,
          emoji: "💪",
          message: "Nick, you're almost there!",
        },
      ],
    };
  },
  watch: {
    currentAward() {
      this.showAward = true;
      setTimeout(() => {
        this.showAward = false;
      }, 3500);
    },
  },
  computed: {
    currentAward() {
      return this.awards.find(
        (item) =>
          this.progress >= item.progress && this.progress <= item.progressEnd
      );
    },
  },
};
</script>

<style scoped>
.avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-left: 4px;
  background: var(--sendcloud-lines);
  border-radius: 100%;
  font-size: 17px;
  color: #ffffff;
}

.text-15 {
  position: absolute;
}

.avatar__has-award {
  animation: flipTails 3s ease-out forwards;
}

.text-16 {
  margin-left: 8px;
  display: none;
}

.avatar__coin {
  position: absolute;
  font-size: 15px;
  text-align: center;
}

@keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(2160deg);
    -moz-transform: rotateY(2160deg);
    transform: rotateY(2160deg);
  }
}

.fade-leave-active {
  transition: opacity 0.35s;
  position: absolute;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.avatar__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.award__popover {
  display: flex;
  justify-content: center;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: calc(100% + 10px);
  left: -90px;
  padding: 0.15rem 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .avatar {
    width: 38px;
    height: 38px;
  }
  .text-16 {
    display: inline-block;
  }

  .award__popover {
    left: -50%;
  }
}

.award__popover::after {
  content: "";
  position: absolute;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  border-bottom: 7px solid rgba(0, 0, 0, 0.7);
}
</style>
