:root {
--sendcloud-blue: rgb(29, 151, 255);
--sendcloud-dark-blue: rgb(17, 40, 87);
--sendcloud-bg: rgb(244, 250, 255);
--sendcloud-lines: rgb(208, 219, 228);
--sendcloud-text-mute: rgb(88, 118, 126);
--sendcloud-medium-bg: rgb(245, 246, 250);
}