<template>
  <main class="pack-go" @keyup.prevent="handleKeypress" tabindex="-1">
    <Navbar />
    <section class="section">
      <div class="container">
        <div class="page-header">
          <h1 class="heading">Pack & Go</h1>
          <status-indicator :state="state" />
          <div class="page-header-nav">
            <button class="icon-button">
              <i class="material-icons icon">search</i></button
            ><button class="icon-button">
              <i class="material-icons icon">settings</i>
            </button>
            <UserProfile
              :progress="(currentOrderIndex / orders.length) * 100"
            />
          </div>
          <i class="material-icons page-header-dropdown">arrow_drop_down</i>
        </div>
      </div>
      <div class="pack-go-container">
        <div class="items-panel" :style="{ width: `${columnWidth}%` }">
          <div class="columns">
            <div class="column-2">
              <template v-if="state !== 'processing'">
                <div class="box-2">
                  <h4 class="heading-2">Order</h4>
                  <h4 class="heading-4">{{ currentOrder.number }}</h4>
                </div>
                <div class="text-2">
                  From {{ currentOrder.integration }}, ordered
                  {{ currentOrderDate }}
                </div>
              </template>
              <template v-else>
                <div class="loading-skeleton" style="width: 90%;"></div>
                <div class="loading-skeleton" style="width: 70%;"></div>
              </template>
            </div>
            <div class="column-3">
              <button class="icon-button">
                <i class="material-icons icon">edit</i>
              </button>
            </div>
          </div>
          <order-items
            :order="currentOrder"
            :loading="state === 'processing'"
            :checked-items="checkedOrderItems"
          />
        </div>
        <column-resizer :width="columnWidth" @resize="handleResize" />
        <div
          class="details-panel"
          :class="{ 'details-panel--hide': columnWidth === 100 }"
        >
          <div class="accordion">
            <div class="accordion-item">
              <button
                class="icon-button-2"
                @click="showShippingDetails = !showShippingDetails"
              >
                <i class="material-icons icon-3">{{
                  showShippingDetails
                    ? "keyboard_arrow_down"
                    : "keyboard_arrow_right"
                }}</i>
              </button>
              <div
                class="accordion-text-wrap"
                @click="showShippingDetails = !showShippingDetails"
              >
                <h4 class="accordion-heading">Shipping details</h4>
                <div class="shortcut-text">D</div>
              </div>
              <shipping-details
                v-if="showShippingDetails"
                :order="currentOrder"
              />
            </div>
            <div class="accordion-item">
              <button
                class="icon-button-2"
                @click="showOrderStatus = !showOrderStatus"
              >
                <i class="material-icons icon-3">{{
                  showOrderStatus
                    ? "keyboard_arrow_down"
                    : "keyboard_arrow_right"
                }}</i>
              </button>
              <div
                class="accordion-text-wrap"
                @click="showOrderStatus = !showOrderStatus"
              >
                <h4 class="accordion-heading">Order status</h4>
                <div class="shortcut-text">S</div>
              </div>
              <order-status v-if="showOrderStatus" :order="currentOrder" />
            </div>
            <div class="accordion-item">
              <button
                class="icon-button-2"
                @click="showShippingRules = !showShippingRules"
              >
                <i class="material-icons icon-3">{{
                  showShippingRules
                    ? "keyboard_arrow_down"
                    : "keyboard_arrow_right"
                }}</i>
              </button>
              <div
                class="accordion-text-wrap"
                @click="showShippingRules = !showShippingRules"
              >
                <h4 class="accordion-heading">Shipping rules</h4>
                <div class="shortcut-text">R</div>
              </div>
              <shipping-rules v-if="showShippingRules" :order="currentOrder" />
            </div>
            <div class="accordion-item">
              <button
                class="icon-button-2"
                @click="showCustomerDetails = !showCustomerDetails"
              >
                <i class="material-icons icon-3">{{
                  showCustomerDetails
                    ? "keyboard_arrow_down"
                    : "keyboard_arrow_right"
                }}</i>
              </button>
              <div
                class="accordion-text-wrap"
                @click="showCustomerDetails = !showCustomerDetails"
              >
                <h4 class="accordion-heading">Customer details</h4>
                <div class="shortcut-text">C</div>
              </div>
              <customer-details
                v-if="showCustomerDetails"
                :order="currentOrder"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <BottomBar
      :disabled="['processing'].includes(state)"
      :current-order-index="currentOrderIndex"
      :total-orders="orders.length"
      @next="goToOrder(currentOrderIndex + 1)"
      @previous="goToOrder(currentOrderIndex - 1)"
      @process="processOrder(currentOrderIndex + 1)"
    />
  </main>
</template>
<script>
const faker = require("faker");
import debounce from "lodash.debounce";

import BottomBar from "@/components/BottomBar.vue";
import Navbar from "@/components/Navbar.vue";

import ShippingDetails from "@/components/ShippingDetails.vue";
import OrderStatus from "@/components/OrderStatus.vue";
import ShippingRules from "@/components/ShippingRules.vue";
import CustomerDetails from "@/components/CustomerDetails.vue";
import ColumnResizer from "@/components/ColumnResizer.vue";
import OrderItems from "@/components/OrderItems.vue";
import UserProfile from "@/components/UserProfile.vue";

import StatusIndicator from "@/components/StatusIndicator.vue";

export default {
  name: "PackGo",
  components: {
    BottomBar,
    Navbar,
    ShippingDetails,
    UserProfile,
    OrderStatus,
    ShippingRules,
    CustomerDetails,
    ColumnResizer,
    OrderItems,
    StatusIndicator,
  },
  data() {
    return {
      orders: [],
      checkedOrderItems: [],
      state: "ready",
      scannerCharacterQueue: [],
      currentOrderIndex: 0,
      columnWidth: 66,
      showOrderDetails: false,
      showOrderStatus: false,
      showShippingRules: false,
      showCustomerDetails: false,
      showShippingDetails: true,
      integrations: ["Shopify", "Woocommerce", "Magento", "API Integration"],
      shopStatuses: ["Paid", "Authorized", "Voided", "Restocked"],
      paymentStatuses: ["Paid", "Partially paid", "Refunded"],
      numberOfOrders: [30, 20, 10, 20],
    };
  },
  created() {
    this.loadOrders();
  },
  computed: {
    currentOrder() {
      return this.orders[this.currentOrderIndex];
    },
    currentOrderDate() {
      return new Intl.DateTimeFormat("en-GB", {
        dateStyle: "full",
        timeStyle: "short",
      }).format(this.currentOrder.date);
    },
  },
  methods: {
    handleShortcutOrScan: debounce(
      function(e) {
        if (this.scannerCharacterQueue.length > 1) {
          const code = this.scannerCharacterQueue
            .filter((character) => character.length === 1)
            .join("");
          this.handleScan(code);
        } else {
          this.handleShortcut(e);
        }

        this.scannerCharacterQueue = [];
      },
      10,
      { leading: false, trailing: true }
    ),

    handleScan(code) {
      const processCode = "54283724343";
      const itemCodes = ["83845747", "83115742", "53225741", "43339432"];

      if (code === processCode) {
        this.processOrder(this.currentOrderIndex + 1);
      } else if (itemCodes.includes(code)) {
        const index = itemCodes.findIndex((item) => item === code);

        const sku = this.currentOrder.items[index]?.sku;
        if (sku) this.checkOrderItem(sku);
      }
    },

    checkOrderItem(sku) {
      this.checkedOrderItems.push(sku);
      console.log(this.checkedOrderItems);
    },

    handleShortcut(e) {
      switch (e.key) {
        case "d": {
          this.showShippingDetails = !this.showShippingDetails;
          break;
        }
        case "s": {
          this.showOrderStatus = !this.showOrderStatus;
          break;
        }
        case "r": {
          this.showShippingRules = !this.showShippingRules;
          break;
        }
        case "c": {
          this.showCustomerDetails = !this.showCustomerDetails;
          break;
        }
        case "ArrowLeft": {
          this.goToOrder(this.currentOrderIndex - 1);
          break;
        }
        case "ArrowRight": {
          this.goToOrder(this.currentOrderIndex + 1);
          break;
        }
        case "Enter": {
          this.processOrder(this.currentOrderIndex + 1);
        }
      }
    },

    handleKeypress(e) {
      this.scannerCharacterQueue.push(e.key);
      this.handleShortcutOrScan(e);
    },
    goToOrder(index) {
      if (index < this.currentOrderIndex && this.orders[index]) {
        //Going back
        this.currentOrderIndex = index;
        return;
      } else if (this.orders[index]) {
        this.currentOrderIndex = index;
      } else {
        this.state = "finished";
      }

      this.checkedOrderItems = [];
    },
    async processOrder(index) {
      this.state = "processing";
      await this.randomLoadingDelay();
      this.goToOrder(index);
      this.state = "printing";
      await this.randomLoadingDelay(3500);
      this.state = "ready";
    },
    randomLoadingDelay(duration) {
      return new Promise((resolve) =>
        setTimeout(
          resolve,
          duration || faker.random.arrayElement([500, 750, 950, 1150])
        )
      );
    },
    loadOrders() {
      const numberOfOrders = faker.random.arrayElement(this.numberOfOrders);

      for (let index = 0; index < numberOfOrders; index++) {
        this.addOrder();
      }
    },
    addOrder() {
      const numberOfOrders = Math.floor(Math.random() * 11);
      let items = [];
      for (let index = 0; index <= numberOfOrders; index++) {
        const name = faker.commerce.productName();
        const element = {
          name,
          sku: faker.finance.routingNumber(),
          image: `https://source.unsplash.com/50x50/?${name.split(" ")[2]}`,
          quantity: Math.floor(Math.random() * 3),
        };
        items.push(element);
      }
      const order = {
        number: faker.finance.routingNumber(),
        name: faker.name.findName(),
        street: faker.address.streetAddress(),
        zipCode: faker.address.zipCode(),
        city: faker.address.city(),
        country: faker.address.country(),
        email: faker.internet.email(),
        date: faker.date.recent(),
        integration: faker.random.arrayElement(this.integrations),
        status: faker.random.arrayElement(this.shopStatuses),
        paymentStatus: faker.random.arrayElement(this.paymentStatuses),
        items,
      };

      this.orders.push(order);
    },
    removeOrder() {
      this.orders.splice(this.orders.length, 1);
    },
    handleResize(newWidth) {
      if (newWidth >= 20) this.columnWidth = newWidth;
    },
  },
};
</script>
<style scoped>
@import url("~@/assets/handoff.css");
@import url("~@/assets/variables.css");
@import url("~@/assets/reset.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.pack-go {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 160px;
  background: var(--sendcloud-bg);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--sendcloud-dark-blue);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
}
.container {
  align-self: center;
  width: 100%;
  max-width: 950px;
  padding: 0px 16px;
}
.pack-go-container {
  align-self: center;
  width: 100%;
  max-width: 950px;
  padding: 0px 16px;
}
.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.items-panel {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 0px;
  background: rgb(255, 255, 255);
  border: 1px solid #e5e7eb;
  border-radius: 7px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}
.details-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 0px;
  background: rgb(255, 255, 255);
  border: 1px solid #e5e7eb;
  border-radius: 7px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
  flex: 1 0;
}
.heading {
  font-weight: 600;
  font-size: 20px;
  color: var(--sendcloud-dark-blue);
}

.page-header-nav {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  align-items: center;
}
.columns {
  display: flex;
  align-items: stretch;
  width: 100%;
  border-bottom: 1px solid var(--sendcloud-lines);
}
.items {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: 155px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  margin-left: 4px;
  font-size: 0.8rem;
}
.icon-button {
  margin-right: 4px;
  margin-left: 4px;
  padding: 8px;
  border: 1px solid var(--sendcloud-dark-blue);
  border-radius: 5px;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  line-height: 1rem;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 8px;
}
.column-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.items-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.accordion-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 4px;
  border-bottom: 1px solid #e1e1e1;
}
.icon {
  font-size: 1rem;
}
.box-2 {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.text-2 {
  font-size: 14px;
  color: var(--sendcloud-text-mute);
}
.items-row-text-column {
  display: flex;
  align-items: center;
  width: 55%;
  padding: 8px;
}
.items-row-sku-column {
  display: flex;
  align-items: center;
  padding: 8px;
}
.items-row-quantity-column {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
}
.icon-button-2 {
  margin-right: 4px;
  margin-left: 4px;
  line-height: 0.5rem;
  transition: background 0.25s ease-in-out 0s;
  font-weight: 500;
  cursor: pointer;
}
.accordion-text-wrap {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.shipping-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
  padding: 0px;
  border-radius: 7px;
  overflow: hidden;
}
.heading-4 {
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
  background: var(--sendcloud-dark-blue);
  border-radius: 5px;
  font-weight: 500;
  color: #ffffff;
}
.text-12 {
  font-size: 0.9rem;
  color: var(--sendcloud-text-mute);
  text-transform: uppercase;
}
.image {
  object-fit: fill;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 8px;
}
.text-3 {
  font-weight: 500;
}
.text-6 {
  font-weight: 500;
  color: var(--sendcloud-text-mute);
}
.text-7 {
  font-weight: 500;
  color: var(--sendcloud-text-mute);
}
.accordion-heading {
  font-weight: 500;
}
.columns-with-background {
  display: flex;
  align-items: stretch;
  width: 100%;
  background: var(--sendcloud-medium-bg);
}
.columns-no-background {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.column {
  flex: 1 0;
  padding: 8px;
}
.small-text {
  font-size: 14px;
  color: var(--sendcloud-text-mute);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
  .pack-go-container {
    padding: 0px 32px;
  }
}
@media screen and (min-width: 992px) {
  .column-2 {
    padding: 8px 16px;
  }
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .container {
    padding: 0px 48px;
  }
  .pack-go-container {
    display: flex;
    align-items: flex-start;
    padding: 0px 48px;
  }
  .heading {
    font-size: 24px;
  }
  .pandg-status {
    align-items: center;
  }
  .text {
    margin-left: 8px;
    font-size: 1rem;
  }

  .items-panel {
    min-width: initial;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1750px;
  }
  .pack-go-container {
    max-width: 1750px;
  }
}

.shortcut-text {
  margin-right: 8px;
  padding-right: 8px;
  padding-left: 8px;
  background: var(--sendcloud-medium-bg);
  border-radius: 5px;
  font-size: 14px;
  color: #8e98ad;
}
.details-panel--hide {
  display: none;
}
</style>

<style>
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.loading-skeleton {
  display: inline-block;
  height: 1rem;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
  border-radius: 5px;
  margin: 0.25rem;
}

.loading-skeleton--image {
  width: 36px;
  height: 36px;
}

@media (min-width: 992px) {
  .loading-skeleton--image {
    width: 48px;
    height: 48px;
  }
}

.loading-skeleton.s {
  height: 0.5rem;
  margin: 0.125rem;
}

.loading-skeleton.l {
  height: 2rem;
}

.loading-skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  animation-play-state: running;
  content: "";
}
</style>
